*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono',sans-serif;
    box-sizing: border-box;
}

html {
    background: rgb(2, 0, 7);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Le mot défilant */

.statics {
    margin-left: 20px;
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    /* Pour changer la direction des mots */
    writing-mode: vertical-rl; /* or vertical-lr */
    transform: rotate(180deg); /* Adjust if needed */
    overflow: visible;
    display: flex;
    align-items: center;
}

.statics h1 {
    color: white;
    font-size: 120px;
    letter-spacing: 25px;
    font-family: 'Roboto Mono',sans-serif;
    white-space: nowrap;
    animation: scrolldown 5s linear infinite;
}

@keyframes scrolldown {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
  

/* Vidéo background */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

body {
    background: rgb(2, 0, 7);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 100px;
}

h2{
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

span{
    color: rgba(240, 0, 0, 0.89);
    margin: 5px;
}

.badge .bg-purple {
    background-color: #3700ff;
}

h4{
    margin-top: 5em;
    color: rgba(64, 194, 255, 0.521);
    letter-spacing: 2px;
    z-index: 1;
    font-size: 20px;
}

nav{
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 1000;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    letter-spacing: 1px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgba(240, 0, 0, 0.89);
    transition: 0.3s ease;
}

/* Les icons social */
.social a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 0, 0, 0.89);
    border-radius: 50%;
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.social img{
    width: 20px;
}

.hero{
    width: 100%;
    padding: 5em;
    padding-top: 10em;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap; 
    /* Pour la vidéo */
    position: relative;
} 

.content{
    width: 600px;
    position: relative;
    z-index: 1;
}
.hero p{
    color: rgba(255, 255, 255, 0.568);
    font-size: 1em;
    width: 500px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.4em;
    margin-bottom: 50px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgba(240, 0, 0, 0.89);
    outline: none;
    border-radius: 30px;
}
/* Le boutton */
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgba(240, 0, 0, 0.89);
    color: white;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.newsletter form input:last-child:hover {
    background-color: rgb(134, 4, 4);
    cursor: pointer;
}
#myPic {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url('../img/image.png') center no-repeat;
    background-size: cover;
    border: 3px solid rgba(240, 0, 0, 0.89);
    box-shadow: 2px 2px 2px rgba(240, 0, 0, 0.89);
}
/* About */
.about{
    width: 100%;
    position: relative;
    padding-top: 20vh;
}
.about img{
    height: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000,0px 0px 10px #949393;
}
.about-text h5{
    opacity: 80%;
    padding-left: 50px;
}

.about-text h2{
    padding-left: 50px;
}

.about-text p{
    padding-left: 50px;
    width: 800px;
    color: rgba(196, 0, 0, 0.849);
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.3em;
}
.about li {
    list-style: none;
    color: rgba(240, 0, 0, 0.692);
    font-size: 13px;
}
.about-text div {
    display: flex;
    justify-content: space-around;
}
/* Bouton pour le cv */
#cv-btn{
    background-color: rgba(236, 236, 236, 0.89);
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
#cv-btn:hover{
    background-color: transparent;
    border: 2px solid rgba(236, 236, 236, 0.89);
    cursor: pointer;
    color: white;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgba(64, 194, 255, 0.521);
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
}
button{
    background-color: rgba(240, 0, 0, 0.89);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 2px solid rgba(240, 0, 0, 0.89);
    cursor: pointer;
}

/* Services */
.service{
    background: rgb(2, 0, 7);
    width: 100%;
    padding: 20vh 0 20vh 0;
    justify-content: center;
}
.title h2{
    color: white;
    text-align: center;
}
.service .box{
    display: flex;
    justify-content: center;
    flex-flow: row wrap; 
}
.service .carte{
    width: 400px;
    padding: 20px 35px;
    background: #0e0d0d;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-align: justify;
}
.service .carte img{
    height: 150px;
    display: block;
    margin: 1em auto;
    border-radius: 10px;
    margin-bottom: 1em;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.para p{
    color: rgba(255, 255, 255, 0.726);
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 25px;
}
.para label{
    color: rgba(255, 255, 255, 0.568);
}
.para #techno{
    color: rgba(64, 194, 255, 0.521);
}
.carte .button{
    background-color: rgba(240, 0, 0, 0.89);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.carte .button:hover{
    background-color: transparent;
    border: 2px solid rgba(240, 0, 0, 0.89);
    cursor: pointer;
}

.carte img {
    height: 100px;
}

/* Technos */
.skills{
    background: rgba(32, 71, 77, 0.404);
    width: 100%;
    padding: 10vh 0 10vh 0;
    justify-content: center;
    position: relative;
}

.skills h2 {
    letter-spacing: 1px;
    text-align: center;
}

.skills p {
    color: rgb(199, 199, 199);
    text-align: center;
    margin-bottom: 50px;
}

.skills span {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-style: bold;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
  
.skills .progress .skill {
    color: white;
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: white;
}
  
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
  
.skills .progress-bar-wrap {
    background: color-mix(in srgb, rgb(79, 80, 80), transparent 90%);
    height: 10px;
}
  
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: rgb(0, 225, 255);
}


/* Porfotlio */
.portfolio{
    background: rgb(2, 0, 7);
    width: 100%;
    padding-top: 20vh;
}

.portfolio .box{
    display: flex;
    justify-content: center;
    flex-flow: row wrap; 
}

.portfolio .carte{
    width: 500px;
    height: auto;
    padding: 20px;
    background: #0e0d0d;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: auto;
    text-align: center;
    text-align: justify;
}

.carte h5{
    margin-top: 20px;
}

/* Gallerie d'images */

.gallerie-gr {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Utilise la propriété gap pour l'espacement entre les éléments */
}

.gallerie-gr a {
    display: block;
}

.gallerie-gr img{
    margin-bottom: 10px;
}

.gallerie-jd {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Utilise la propriété gap pour l'espacement entre les éléments */
}

.gallerie-jd a {
    display: block;
}

.gallerie-jd img{
    margin-bottom: 10px;
}

/* Fades dans la gallerie */

.fade-in {
    animation: fadeIn 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hidden {
    display: none;
}



/* Contact */
.contact{
    background-color: rgba(2, 0, 7, 0.61);
    align-items: center;
    margin: 7em auto;
    justify-content: center;
    position: relative;
    border: 1px solid white;
}

.contact h2{
    display: block;
    text-align: center;
}

.contact p{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    width: 52vw;
    margin-left: -6rem;
}
.contact .confirm-btn{
    background-color: rgba(240, 0, 0, 0.89);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    display: block;
    margin: 0 auto;
}
.contact .confirm-btn:hover{
    background-color: transparent;
    border: 2px solid rgba(240, 0, 0, 0.89);
    cursor: pointer;
}

.contact input[type=text] {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
    opacity: 90%;
    font-size: 14px;
}



.contact #formulaire-contact {
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    margin: 50px;
}
  
.contact #formulaire-contact label {
    font-size: 14px;
}

.contact #formulaire-contact .contact-text {
    font-size: 14px;
    text-align: center;
    margin-bottom: 2em;
}
/* Popup */
.popup {
    background: linear-gradient(118deg, rgba(6, 82, 145, 0.992) 10%, rgba(23, 50, 70, 0.9607843137) 80%);
    width: 700px;
    height: 25em;
    border-radius: 15px;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    display: none;
    transition: transform 0.5s;
}

.popup h1 {
    margin-top: 25%;
    color: white;
}
  
.hide {
    visibility: hidden;
}
  
.popup-ouvert {
    transform: translate(0%, -100%) scale(1);
    visibility: visible;
}

/* Modal */

/* Changer le background à l'affichage du modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    margin-top: 20vh;
    width: 80%;
    max-width: 700px;
}
  
/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Animation Modal */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* le footer */
footer{
    position: relative;
    width: 100%;
    height: 200px;
    background: #e7e5e58a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: rgb(0, 0, 0);
    font-size: 12px;
    width: 500px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 27px;
}
.social{
    display: flex;
}
.end{
    color: rgba(0, 0, 0, 0.89);
    margin-top: 25px;
    font-size: 14px;
}

/* Gallery d'image */

.full-img {
    position: relative;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0,0,0,0);
  }
  
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
  }


/* La responsivité  */

@media screen and (max-width: 1092px) {
    .about img {
        display: none;
    }

    .content {
        display: block;
        text-align: center;
    }
    .content p{
        margin: 30px auto;
        justify-content: center;
    }
    .newsletter form {
        margin: 30px auto;
    }

    .about p {
        font-size: 1em;
    }

    .service, .portfolio {
        padding: 0;
    }

    .contact p{
        margin: 10px auto;
        text-align: center;
        width: 100%;
    }

    .contact #formulaire-contact  {
        width: 70%;
    }
    
}


@media screen and (max-width: 500px) {
    .hero p {
        width: 80vw;
        font-size: 1em;
    }

    .statics {
        visibility: hidden;
    }

    .newsletter form {
        width: 80vw;
    }



    #myPic {
        width: 30vh;
        height: 30vh;
    }

    .about p {
        width: 80vw;
        font-size: 1em;
    }

    .contact input[type=text] {
        width: 50vw;
    }

    footer p{
        margin-top: 1em;
        width: 80vw;
        font-size: 1em;
        text-align: center;
    }
}